### dependencies ###
frontend/node_modules/
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
frontend/!.yarn/patches
frontend/!.yarn/plugins
frontend/!.yarn/releases
frontend/!.yarn/versions

### testing ###
frontend/coverage

### next.js ###
frontend/.next/
frontend/out/

### production ###
frontend/build

### misc ###
frontend/.DS_Store
frontend/*.pem

### debug ###
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

### vercel ###
frontend/.vercel

### typescript ###
frontend/*.tsbuildinfo
frontend/next-env.d.ts

### Target in Spring ###
backend/HELP.md
backend/target/
backend/**/target/
backend/*.jar
backend/**/*.jar
backend/.metadata/
backend/!.mvn/wrapper/maven-wrapper.jar

### STS ###
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache
backend/.metadata

### Other IDEs ###
backend/.idea/
backend/*.iml
backend/*.iws
backend/*.ipr
backend/nbproject/
backend/.nb-gradle/
backend/build/
backend/dist/

### VS Code ###
frontend/.vscode/

### IMAGES DIRECTORY ###
backend/images/

### Environment variables ###
.env