<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="copy" th:if="${view != 'sign-in/index'}" class="container-fluid text-bg-dark d-flex flex-row justify-content-between align-items-center py-2">
			<a href="#" class="d-flex flex-row align-items-center text-decoration-none text-light fw-bold">
				<img th:src="@{/img/logo.png}" class="me-2" height="30"/>Bread on Board
			</a>
			<form th:action="@{ /logout }" method="post">
				<button type="submit" class="btn btn-danger">Sign out</button>
			</form>
		</div>
	</body>
</html>