<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"> <!-- USEFUL FOR MOBILE STYLE -->
		<link rel="stylesheet" href="/webjars/bootstrap/5.3.8/css/bootstrap.min.css"> <!-- IMPORT BOOTSTRAP CSS -->
		<link rel="stylesheet" href="/webjars/bootstrap-icons/1.13.1/font/bootstrap-icons.min.css"> <!-- IMPORT BOOTSTRAP ICONS -->
		<title><th:block th:text="${title} + ' - '"></th:block>Bread on Board</title>
	</head>
	<body>
		<!-- Put header here later -->
		
		<main th:insert="~{${view}::copy}" class="container-fluid">Dynamic view should be displayed here</main>
		
		<!-- Put footer here later -->
	</body>
</html>