<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<table th:fragment="copy" class="table table-bordered text-center">
			<thead>
				<tr>
					<th>ID</th>
					<th>Author</th>
					<th>Title</th>
					<th>Ingredients</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="recipe : ${recipes}">
					<td th:text="${recipe.id}">Recipe ID</td>
					<td th:text="${recipe.account.username}">Recipe's Author</td>
					<td th:text="${recipe.title}">Recipe's Title</td>
					<td th:text="${recipe.ingredients}">Recipe's Ingredients</td>
					<td><a href="#">Remove</a></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>